      .booklabel {
      padding-left: 30px;
      padding-right:30px;
    }

    .tremark {
      vertical-align: middle;
      background-color: #fdd99b;
    }
	
	.r11b_class {
		display: none;
	}

li { margin-top: 4px; margin-button: 4px; }

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}


#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.title_div {
	width:100%;
	
	border:1px green solid;
	font-size: 12pt;
}

.content_div {
	width:100%;
	
	border:1px green solid;
	font-size: 8pt;
}

.inner_div {
 margin:8px 8px 8px 8px;
}

#time1x_container {
/*  width: 300px; */

  margin: 3vw auto;
}

input[type="range"] {
  width: 300px;
  background: transparent;
}
/*###################################*/
/*###########Responsive Range########*/
/*###################################*/
/*##############Core Style###########*/

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/*#############Thumb##############*/

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  background: #555;
  cursor: pointer;
  margin-top: -12px;
}

input[type="range"]::-moz-range-thumb {
  height: 36px;
  width: 36px;
  background: #555;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  height: 36px;
  width: 36px;
  background: #555;
  cursor: pointer;
}
/*#############Track##############*/

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #ccc;
}

input[type="range"]:active::-webkit-slider-runnable-track {
  background: #d6d6d6;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #ccc;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #ccc;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #ddd;
}

input[type="range"]::-ms-fill-upper {
  background: #ccc;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ddd;
}

.timebar {
	margin-left: 0px;
	margin-right: 0px;
}

.timeblock {
visibility: hidden;
}
